{{>sidebar}}
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
               {{>navbar}}
                <!-- Begin Page Content  -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-flex  justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Carrito</h1>
                        <button id="BtnConfirmOrder" class="d-none btn btn-sm btn-primary shadow-sm">
                            <i class="far fa-paper-plane"></i> Realizar pedido</button>
                    </div>
                    <div>
                        <h5 id="cartTotal"></h5>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div id="listCarProducts">

                                
                            </div>
                           
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->
          {{>footer}}
        </div>
    <script src="/js/clientApi/cartApi.js"></script>
        <!-- End of Content Wrapper -->