<div class="modal fade" tabindex="-1" id="seeProductPhotoModal{{id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Foto producto {{nombre}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="container">
              <div class="d-flex justify-content-center">
                <img src="{{imagen}}" class="w-75" alt="{{nombre}}">
              </div>         
          </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary btn-block" data-dismiss="modal">Cerrar</button>
        </div>
       </form>
    </div>
  </div>
</div>