<div id="detailsbar" class="waiter-detail-sidebar">
    <div class="card">
        <div class="card-header d-flex justify-content-between"><p id="drawId"></p><button id="closedetails" class="btn btn-primary btn-sm"><i class="fas fa-window-close"></i></button>
        </div>
        <div class="card-body w-100">
              <p  id="sidetotal"></p>
             <table  style="font-size: 15px;" class="table table-responsive  text-center">
                <thead>
                    <tr>
                    <th>Producto</th>
                    <th>$</th>
                    <th>Cant.</th>
                    <th>Total</th>
                    <th><i class="fas fa-cog"></i></th>
                    </tr>
                </thead>
                <tbody class="justify-content-center" id="details"></tbody>
            </table> 
        </div>
    </div>                     
</div>