<div class="modal fade" tabindex="-1" id="addTableModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informacion de la mesa</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="/admin/savetable" method="POST">
            <div class="form-group">
                <input type="text" name="mesa" placeholder="Nombre mesa" class="form-control" required>
            </div>                       
      </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Guardar mesa</button>
        </div>
       </form>
    </div>
  </div>
</div>