.fixed-button{
    position: fixed;
    z-index: 99;
    right: 8%;
    bottom: 6%;
    margin-left: 90%;
}


#adminDashboard .card{
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#adminDashboard .card:hover{
    transform: scale(0.98);
}
.toast-font{
    font-size: 17px;
}

@media (min-width:768px) {
    .toast-font{
        font-size: 22px;
    }
}