<div class="modal fade" tabindex="-1" id="addEmployeeModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Informacion del empleado</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <form action="/admin/saveemployee" method="POST">
            <div class="form-group">
                <input type="text" name="nombre" id="nombre" placeholder="Nombre(s)" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="text" name="apellido" id="apellido" placeholder="Apellido(s)" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="email" name="correo" id="email" placeholder="Correo electronico" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="contra" id="psw" placeholder="Contraseña" class="form-control" required>
            </div>
            <div class="form-group">
                <input type="password" name="confirmar" id="psw1" placeholder="Contraseña" class="form-control" required>
            </div>
            <div class="form-group" required>
                <label for="rol">Rol</label>
                <select name="fk_rol"  class="form-control">
                    {{#each roles}}
                      <option value="{{id}}">{{nombre}}</option>
                    {{/each}} 
                </select>
            </div>
            <small>
              <p id="match"></p>
            </small>
      </div>
       
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary" id="signup">Guardar empleado</button>
        </div>
       </form>
    </div>
  </div>
</div>
<script src="https://datosdiana.blob.core.windows.net/imagenes/psw.js"></script>
