<div class="modal fade" tabindex="-1" id="deleteEmployeeModal{{id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Desea eliminar al empleado {{nombre}}?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       <div class="d-flex justify-content-between">
           <button type="button" class="btn btn-secondary w-50 mx-1" data-dismiss="modal">Cancelar</button>
            <a href="/admin/deleteemployee/{{id}}" class="btn btn-danger w-50">Eliminar empleado</a>   
       </div>                
      </div>
    </div>
  </div>
</div>