<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center"
        href="/{{redirectPrivileges user.fk_rol}}/dashboard">
        <div class="sidebar-brand-icon rotate-n-15">
            {{!-- <i class="fas fa-laugh-wink"></i> --}}
            <img src="https://datosdeclasehector.blob.core.windows.net/imagenes/LogoEden.png" style="width: 60%;"
                alt="logo">
        </div>
        <div class="sidebar-brand-text mx-3">Eden Online</div>
    </a>
    <!-- Divider -->
    <hr class="sidebar-divider my-0">
    <!-- Nav Item - Dashboard -->
    {{#if user}}
    <li class="nav-item active">
        <a class="nav-link" href="/{{redirectPrivileges user.fk_rol}}/dashboard">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>
    {{/if}}
    <!-- Divider -->
    <hr class="sidebar-divider">
    <!-- Heading -->
    <!-- Nav Item - Pages Collapse Menu -->
    {{#if (isAdmin user)}}
    <div class="sidebar-heading">
        Control de Ventas
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSale" aria-expanded="true"
            aria-controls="collapseSale">
            <i class="fas fa-dollar-sign"></i>
            <span>Ventas</span>
        </a>
        <div id="collapseSale" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Clic para acceder:</h6>
                <a class="collapse-item" href="/admin/payment">Cobro cuentas</a>
                <a class="collapse-item" href="/admin/paymentscontrol">Registro Ventas</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Control de Usuarios
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true"
            aria-controls="collapseTwo">
            <i class="fas fa-users"></i>
            <span>Usuarios</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Clic para acceder:</h6>
                <a class="collapse-item" href="/admin/employees">Empleados</a>
                <a class="collapse-item" href="/admin/customers">Clientes</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Modulos de empleados
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseModules"
            aria-expanded="true" aria-controls="collapseModules">
            <i class="fas fa-tasks"></i>
            <span>Modulos</span>
        </a>
        <div id="collapseModules" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Clic para acceder:</h6>
                <a class="collapse-item" href="/waiter/orders">Realizar pedido</a>
                <a class="collapse-item" href="/chef/orders">Chef: Pedidos locales</a>
                <a class="collapse-item" href="/chef/onlineorders">Chef: Pedidos en linea</a>  
                <a class="collapse-item" href="/barman/orders">Barman: Pedidos locales</a>                              
                <a class="collapse-item" href="/barman/onlineorders">Barman: Pedidos en linea</a>
            </div>
        </div>
    </li>
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Restaurante
    </div>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Opciones</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Clic para acceder:</h6>
                <a class="collapse-item" href="/admin/inventory">Inventario</a>
                <a class="collapse-item" href="/admin/shopping">Compras</a>
                <a class="collapse-item" href="/admin/products">Productos</a>                
                <a class="collapse-item" href="/admin/tables">Mesas</a>
            </div>
        </div>
    </li>    
    <!-- Divider -->
    <hr class="sidebar-divider">
    {{/if}}
    <!-- Nav Item - Pages Collapse Menu -->
    {{#if (isWaiter user)}}
    <div class="sidebar-heading">
        Pedidos
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/waiter/orders">
            <i class="fas fa-list-alt"></i>
            <span>Realizar pedidos</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    {{/if}}
    {{#if (isChef user)}}
    <div class="sidebar-heading">
        Pedidos
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/chef/orders">
            <i class="fas fa-list-alt"></i>
            <span>Pedidos locales</span>
        </a>
    </li>
      <li class="nav-item">
        <a class="nav-link collapsed" href="/chef/onlineorders">
            <i class="fas fa-list-alt"></i>
            <span>Pedidos en linea</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    {{/if}}
    {{#if (isBarman user)}}
    <div class="sidebar-heading">
        Pedidos
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/barman/orders">
            <i class="fas fa-list-alt"></i>
            <span>Pedidos locales</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/barman/onlineorders">
            <i class="fas fa-list-alt"></i>
            <span>Pedidos en linea</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    {{/if}}
    {{#if (isClient user)}}
    <div class="sidebar-heading">
        Pedidos
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/client/orders">
            <i class="fab fa-elementor fa-2x"></i>
            <span>Ver mis pedidos</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    <div class="sidebar-heading">
        Menú
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/client/Menu">
            <i class="fab fa-elementor fa-2x"></i>
            <span>Ver menu</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    {{/if}}
     {{#if (isTradesman user)}}
    <div class="sidebar-heading">
        Pedidos
    </div>
    <li class="nav-item">
        <a class="nav-link collapsed" href="/tradesman/orders">
            <i class="fas fa-list-alt"></i>
            <span>Ver pedidos</span>
        </a>
    </li>
    <!-- Divider -->
    <hr class="sidebar-divider">
    {{/if}}
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
</ul>

<!-- End of Sidebar -->